
@model APIGateway.Models.User

@{

    ViewData["Title"] = "Login";

}

<h2>Welcome</h2>

<form id="loginForm" action="Home/" method="POST">

    <table align="center">
        <tr>
            <td>Username:</td>
            <td>
                <input id="uname" name="username" value="" />
            </td>
        <tr>
            <td>Password:</td>
            <td><input id="pwd" name="password" type="password" /></td>
        </tr>
        <tr>
            <td colspan="2" align="right">
                <input id="loginBtn" type="submit" value="Login" />
                <input id="clearBtn" type="reset" value="Clear" />
            </td>
            <td></td>
        </tr>
        <tr>
            <td colspan="2" class="err">
                <div id="errmsg">
                </div>
            </td>
        </tr>
    </table>
    <input id="hashPwd" name="hashPasswd" type="hidden" />
</form>


<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/lib/crypto/core-min.js"></script>
<script src="~/lib/crypto/sha256.js"></script>
