
@model APIGateway.Models.User

@{

    ViewData["Title"] = "Login";

}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Customer Login</title>
    <link rel="stylesheet" href="~/css/Login.css" />
</head>

<body>
    <div class="loginbox">
        <img src="~/assets/avatar.png" class="avatar">
        <h1>Customer Login</h1>

        <form id="loginForm" action="Home/" method="POST">

            <p>Username</p>
            <input id="uname" name="username" type="text" placeholder="Enter Username" value="" />

            <p>Password</p>
            <input id="pwd" name="password" type="password" placeholder="Enter Password" value="" />

            <input id="loginBtn" type="submit" value="LOGIN" />

            <div id="errmsg" style="color:red"></div>

            <input id="hashPwd" name="hashPasswd" type="hidden" />

        </form>
    </div>
</body>

</html>



<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/lib/crypto/core-min.js"></script>
<script src="~/lib/crypto/sha256.js"></script>
<script src="~/js/Login.js"></script>




