@*@{
    ViewData["Title"] = "index";
    var cart = ViewData["currentcart"] as List<Product>; //Product model is used here since they share same information as product

}

<h1>Cart View</h1>


@foreach (Product cartproduct in cart)
{
    <div>
        <span>@cartproduct.productName</span>
    </div>
    <img src="@cartproduct.imageURL" height="100">
    <div>
        <span>@cartproduct.unitPrice</span>
    </div>
}*@