
@using APIGateway.Models;
@using System.Diagnostics;
@{
    ViewData["Title"] = "index";
}

<div style="width:70%;margin:auto;">
    <h1 style="display:inline-block">My Purchase </h1> <a style="margin:0 5px 0 20px" href="~/Home/Index">my purchase</a>|<a style="margin:0 5px">Logout</a>
    <div id="purchases">
        <div class="purchase-row">
            <div class="product">
                <img class="product-img" src="~/assets/1586316169(1).jpg" />
                <div>product name</div>
                <div>product description</div>
                <div id="download" class="download-button">Download</div>
            </div>
            <div class="purchase-detail">
                <table id="purchase-detail-table">
                    <tr>
                        <td>Purchased On:</td>
                        <td>8 Apr 2019</td>
                    </tr>
                    <tr>
                        <td>Quantity:</td>
                        <td>2</td>
                    </tr>
                    <tr>
                        <td>Activation Code:</td>
                        <td>asdfasfasdf</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>


<link rel="stylesheet" href="~/css/myPurchase.css" />
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/lib/crypto/core-min.js"></script>
<script src="~/lib/crypto/sha256.js"></script>
<script src="~/js/myPurchase.js"></script>
