@using System.Globalization;
@{
    ViewBag.Title = "Cart";
    var cartList = ViewData["cartList"] as List<Cart>;
    float total = 0;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</head>
<body style="height:1500px">

    <nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top">
        <a class="navbar-brand" href="#">View Cart</a>
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="~/Gallery/Index">Continue Shopping</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="~/MyPurchase/Index">Check Out</a>
            </li>
        </ul>
    </nav>
    <div id="purchases">
        @foreach (Cart cart in cartList)
            {
            total += product.Price * cart.Quantity;
            <tr>
            <input id="totalBtn" type ="button" value="total" />
            <input id="totalBtn" type="button" value=@cart.price type="hidden">
        </tr>
            <div class="purchase-row">
                <div class="product">
                    <img class="product-img" src="~/assets/1586316169(1).jpg" />
                    <div>product name</div>
                    <div>product description</div>
                    <div id="download" class="download-button">Download</div>
                </div>
                <div class="purchase-detail">
                    <table id="purchase-detail-table">
                        <tr>
                            <td>Price</td>
                            @*<td>@cart.Price</td>*@
                        </tr>
                        <tr>
                            <td>Quantity:</td>
                            <td>@cart.Quantity</td>
                        </tr>
                        <tr>
                            <div>

                                <input type="number" value="@cart.Quantity" onchange="changeQty(this)">
                                <input type="hidden" value="@cart.Id" />

                                <script src="~/js/cart.js"></script>
                            </div>
                        </tr>

                    </table>
                </div>
            </div>
        }

        
    </div>







</body>
</html>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/cart.js"></script>

