@using System.Globalization;
@{
    ViewBag.Title = "Cart";
    var cartList = ViewData["cartList"] as List<Cart>;
}

<h2>Cart</h2>


<table border="1">
    <tr>

        <th>Name</th>
        <th>Price</th>
        <th>Quantity</th>
        <th>Total</th>

    </tr>

    @foreach (Cart cart in cartList)
    {
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    }
</table>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/cart.js"></script>

