@{
    var accounts = ViewData["accounts"] as List<Account>;
}

@if (Context.Request.Cookies["UserId"] != null && accounts != null)
{
    foreach (var account in accounts)
    {
        <div>
            <h1>Hello @account.email!</h1>
        </div>
    }
}